/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
    background-color: antiquewhite;

    
}

.container {s
    text-align: center;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.test-area {
    margin-top: 20px;
    background-color: burlywood;
}

#text-display {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.5;
}

#text-input {
    width: 100%;
    height: 100px;
    font-size: 1.1em;
    padding: 10px;
}

.controls button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 1em;
}

.results p {
    font-size: 1.1em;
}
